<h1><%= t '.title' %></h1>

<%= form_for(@user, url: {action: 'update_password'}, html: {method: 'put', class: 'form-horizontal'}) do |f| %>

  <div class="field form-group <% if @user.errors.has_key? :current_password %>has-error<% end %>">
    <%= f.label t('current_password'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.password_field :current_password, class: 'form-control' %>
      <%= error_tag @user, :current_password %>
    </div>
  </div>

  <div class="field form-group <% if @user.errors.has_key? :password %>has-error<% end %>">
    <%= f.label :password, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control' %>
      <%= error_tag @user, :password %>
    </div>
  </div>

  <div class="field form-group <% if @user.errors.has_key? :password_confirmation %>has-error<% end %>">
    <%= f.label t('password_confirmation'), class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <%= error_tag @user, :password_confirmation %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-12">
      <%= f.submit t('update_password'), :class => 'btn btn-default' %>
      <%= link_to t('cancel'), users_path, :class => 'btn btn-danger' %>
    </div>
  </div>

<% end %>
