<h1><%= t '.title' %></h1>

<div class="row">
  <div class="col-sm-offset-1 col-sm-2">
    <label><%= t('activerecord.attributes.user.first_name') %>:</label>
  </div>
  <div class="col-sm-9">
    <%= @user.first_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-2">
    <label><%= t('activerecord.attributes.user.last_name') %>:</label>
  </div>
  <div class="col-sm-9">
    <%= @user.last_name %>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-2">
    <label><%= t('activerecord.attributes.user.email') %>:</label>
  </div>
  <div class="col-sm-9">
    <%= @user.email %>
  </div>
</div>
