<nav id="w0" class="navbar navbar-default nav-bar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#w0-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Basic</a>
    </div>

    <div id="w0-collapse" class="navbar-collapse collapse" aria-expanded="false">
      <ul id="w1" class="navbar-nav navbar-right nav">
        <% if current_user %>
          <li class="<%=  'active' if params[:controller] == 'users' && params[:action] == 'index' %>"><%= link_to t('menu.users'), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.first_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to t('menu.edit'), edit_user_path(current_user) %></li>
              <li><%= link_to t('logout'), logout_path, method: "delete" %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
