<!DOCTYPE html>
<html>
  <head>
    <title>Basic</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :stylesheet %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="wrap">
      <%= render 'layouts/navigation' %>
      <div class="container">
        <% flash.each do |name, msg| -%>
          <div class="alert alert-dismissible <%= "alert-#{name}" %>" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= msg %>
          </div>
        <% end -%>

        <%= yield %>
        <%= yield :script %>
      </div>
    </div>
  </body>
</html>
