<!DOCTYPE html>
<html>
<head>
  <title>Basic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= google_webfonts_init({google: ['Open Sans']}) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <%= render 'layouts/navigation' %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
